<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test01.html</title>
	<!-- download: http://jquery.com/download -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
	
	//jQuery.fn.serializeObject = function() {
	$.fn.serializeObject = function() {
		var obj = null;
		try {
			if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
				var arr = this.serializeArray();
				if (arr) {
					obj = {};
					jQuery.each(arr, function() {
						obj[this.name] = this.value;
					});
				}//if ( arr ) {
			}
		} catch (e) {
			alert(e.message);
		} finally {
		}
	
		return obj;
	};
	
	// script loader
	$(function() {
		// https://api.jquery.com/jquery.ajax/
		/*
			function showValues() {
				$("#text").text($("form").serialize());
			}
			$("input[type='text']").on("keydown", showValues);
			$("input[type='checkbox'], input[type='radio']").on("click", showValues);
			$("select").on("change", showValues);
		*/
		// success > complete > done > always
		// error > complete > fail > always
		$('#btnAction1').on('click', function(event){
			console.log('btnAction1');
			$.ajax({
				url: "/v0.1/rest/buildings",
				method: "POST",
				contentType: "application/json; charset=utf-8",
				data: null,
				dataType: "json",
				beforeSend: function() {
					console.log("..." + $("form").serializeObject());
					this.data = JSON.stringify($("form").serializeObject(), null, 2);
					$('#check1').val(this.data);
					console.log('beforeSend... data: ' + this.data);
				}
			})
			.done(function(json) {
				console.log('done.json: ' + JSON.stringify(json));
				$('#out1').val(JSON.stringify(json, null, 2));
			})
			.fail(function(xhr, status, errorThrown) {
				alert('ERROR');
				console.log('fail.errmsg: ' + errorThrown)
				console.log('fail.status: ' + status)
			})
			.always(function(xhr, status) {
				console.log('always.status: ' + status)
			});
		});
	});
	</script>
</head>
<body>
	<h1>Building</h1>
	<form>
		<input id='in1' type='text' name='in1' value='B001' size='12'>
		<input id='in2' type='text' name='in2' value='한글' size='12'>
		<input id='in3' type='text' name='in3' value='123' size='12'><br>
	</form>
	<textarea id='check1' cols=50 rows=10></textarea><br><br>
	<button id="btnAction1">click!</button><br>
	<textarea id='out1' cols=50 rows=10></textarea>
	<br>
	
</body>
</html>