<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tain.mybatis.mappers.StudLesnMapper">

	<!-- select -->
	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, stud_code
			, lesn_code
			, score
		from
			tbl_stud_lesn
		where 1=1
		<if test='score != null'>
			and prod_cnt > #{prodCnt}
		</if>
	</select>

</mapper>